* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(31, 30, 30);
    color: white;
}


main .section-bio .info {
    display: flex;
    width: 70%;
    margin: 50px auto;
}


.section-bio .info > img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}


 .info div  {
    width: 60%;
    margin: 50px 0px 0px 50px;
}


.carousel {
    margin: 70px 0px;
}

.carousel .carousel--container {
    display: flex;
    width: 80%;
    margin: 0 auto;
}


.carousel .carousel--container button {
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    padding-right: 30px;
}

.carousel--container button i {
    font-size: 30px;
} 




.carousel--container .corousel--list .carousel--element img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}



.glider-slide img {
    /* max-width: 100%; */
    height: 300px;
    width: 90%;
    object-fit: cover;
}






